Source: python-sch-core
Section: python
Priority: optional
Maintainer: Pierre Gergondet <pierre.gergondet+ppa@gmail.com>
Build-Depends: debhelper (>=9),
 cmake,
#PYTHON2  python-all,
#PYTHON2  python-dev,
#PYTHON2  python-pytest,
#PYTHON2  python-setuptools,
#PYTHON2  cython,
#PYTHON2  python-spacevecalg,
 python3-all,
 python3-dev,
 python3-pytest,
 python3-setuptools,
 python3-spacevecalg,
 cython3,
 libeigen3-dev,
 libboost-serialization-dev,
 libsch-core-dev,
 libspacevecalg-dev
Standards-Version: 3.9.5
Homepage: https://github.com/jrl-umi3218/sch-core-python
Vcs-Git: git://github.com/jrl-umi3218/sch-core-python
Vcs-Browser: https://github.com/jrl-umi3218/sch-core-python

#PYTHON2 Package: python-sch-core
#PYTHON2 Architecture: any
#PYTHON2 Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}, python-spacevecalg
#PYTHON2 Description: Python bindings for sch-core
#PYTHON2  Supports Python 2.

Package: python3-sch-core
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}, python3-spacevecalg
Description: Python bindings for sch-core
 Supports Python 3.
